body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
/* 256px 
2 3 3 1 2 = 11
116
for 1280
width
232px 470px 230px 116px 232px = 1280
heigth
80px 210px 110px 110px 500px 
*/
.wrapper {
    width: 1280px;
    margin: auto auto;
    display: grid;
    /* grid-template-columns: 2fr 3fr 3fr 2fr 1fr 2fr; */
    grid-template-columns: 210px 570px 200px 120px 180px;
    grid-template-rows: 80px 230px 110px 110px 500px ;
    /* m, s, x, v - empty space */
    /* m, s, x, v - blocks */
    grid-template-areas: 
    "a s s b c" 
    "m d e p x" 
    "f g g g x" 
    "v o o o x" 
    "v l l k x"
}

.wrapper>div {
    background: none;
    border: 1px solid black;
}
 
.geo {
    grid-area: a;
    line-height: 11px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.geo__button {
    cursor: pointer;
    display: inline-block;
    color: #999;
    transition: color .15s ease-out;
}

.geo__sity {
    color: inherit;
}

.geo__icon {
    position: relative;
    display: inherit;
    background-image: url(/img/geo-icons.svg);
    width: 19px;
    height: 19px;
    top: 5px;
    left: 2px;
}

.geo__button:hover {
    color: red;
}

.geo__button:hover .geo__icon {
    background-position: center 19px;
}

.options {
    grid-area: b;
    padding-top: 18px;
   
}

.options>input {
    display: none;
}

.options>label {
    position: relative;
    display: inline-block;
    cursor: pointer;
} 

.options__menu {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    margin: 0 -70px;
    top: 15px;
    padding: 10px 5px 0px 5px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);
    margin-top: 0;
    cursor: auto;
}

.options__menu::after {
    content: '';
	position: relative; 
    left: 85px;
    bottom: 199px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 15px solid #f9f9f9;
}

.options__button {
    display: block;
    outline:none;
    cursor: pointer;
}

.options__button:focus .options__menu{
    display: block;
}

.options__menu:hover {
    display: block;
}

.login {
    grid-area: c;
    padding: 3px;
}

.login__container {
    min-width: 140px;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 
                0 2px 6px 0 rgba(0,0,0,.1);
}

.login__container span {
    display: inline-block;
}

.login__container__email {
    padding-top: 15px; 
}

.login__container__name,
.login__container__email__count {
    font-weight: bold;
    cursor: pointer;
}

.login__container__name::first-letter {
    color: red;
}

.news {
    grid-area: d;
    padding: 5px;
}

.head span {
    margin-right: 10px; 
    cursor: pointer;
    transition: color .15s ease-out;
    font-size: 18px;
}

.head span:hover {
    color: #c00;
}

.head__now {
    color: #0054b9;
}

.head__city {
    cursor: pointer;
    color: #6da2e1;
}

.head__date {
    font-size: 11px;
    color: #999;
}

.news__list {
    margin-left: -44px;
}

.news__list ul li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    transition: color .15s ease-out;
}

.news__list li:hover {
    color: #c00;
}

.news__list ul {
    margin-bottom: 0;
}

.news__list ul li::before {
    left: -10px;
    bottom: 1px;
    content: '•';
    font: 9px Verdana,sans-serif;
    position: relative;
}

.news__stocks__caption {
    font-weight: bold;
    font-size: 12px;
}

.news__stocks__value {
    font-size: 13px;
}

.news__stocks__change {
    font-size: 13px;
    color: #999;
    margin-right: 10px;
}

.news__stocks__more {
    color: #999;
    opacity: .5;
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: color .15s ease-out;
}

.news__stocks__more:hover {
    color: #c00;
}

.ad {
    grid-area: e;
}

.ad__container {
    padding: 5px;
    float: right;
    /* width: 180px; */
}

.add__image {
    float: left;
    
    margin: 0 5px 16px 0;
}

.add__age span {
    color: #0d44a0;
    font-size: 10px;
}

.add__info {
    clear: both;
}

.add__info__caption {
    color: #0054b9;
    cursor: pointer;
    transition: color .15s ease-out;
    font-size: 18px;
    margin-bottom: 17px;
    display: inline-block;
}

.logo {
    grid-area: f;
}

.search {
    grid-area: g;
}

.ad-middle {
    grid-area: o;
}

.info-blocks {
    grid-area: l;
    display: flex;
}

.info-blocks div {
    width: 33%;
}


/*
.block1 {
    grid-area: l;
}

.block2 {
    grid-area: h;
}

.block3 {
    grid-area: k;
} */
