body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1280px;
    margin: auto auto;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 6fr;
    /* m, s, x, v - empty space */
    /* m, s, x, v - blocks */
    grid-template-areas: "a s s s b c" "m d d e p c" "m d d e p x" "f g g g g x" "v o o o o x" "v l l l k x"
}

.wrapper>div {
    background: none;
    border: 1px solid black;
}
 
.geo {
    grid-area: a;
    line-height: 11px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.geo__button {
    cursor: pointer;
    display: inline-block;
    color: #999;
}

.geo__sity {
    color: inherit;
}

.geo__icon {
    position: relative;
    display: inherit;
    background-image: url(/img/geo-icons.svg);
    width: 19px;
    height: 19px;
    top: 5px;
    left: 2px;
}

.geo__button:hover {
    color: red;
}

.geo__button:hover .geo__icon {
    background-position: center 19px;
}

.options {
    grid-area: b;
    height: 100px;
}

.options>input {
    display: none;
}

.options>label {
    position: relative;
    display: inline-block;
    cursor: pointer;
} 

.options__menu {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    margin: 0 -70px;
    top: 15px;
    padding: 10px 5px 0px 5px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,.4);
    margin-top: 0;
    cursor: auto;
}

.options__menu::after {
    content: '';
	position: relative; 
    left: 85px;
    bottom: 199px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    border-bottom: 15px solid #f9f9f9;
}

.options__button {
    display: block;
    outline:none;
    cursor: pointer;
}

.options__button:focus .options__menu{
    display: block;
}

.options__menu:hover {
    display: block;
}

.login {
    grid-area: c;
    padding: 3px;
}

.login__container {
    min-width: 140px;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 
                0 2px 6px 0 rgba(0,0,0,.1);
}

.login__container span {
    display: inline-block;
}

.login__container__email {
    padding-top: 15px; 
}

.login__container__name,
.login__container__email__count {
    font-weight: bold;
    cursor: pointer;
}

.login__container__name::first-letter {
    color: red;
}

.news {
    grid-area: d;
}

.ad {
    grid-area: e;
}

.logo {
    grid-area: f;
}

.search {
    grid-area: g;
}

.ad-middle {
    grid-area: o;
}

.info-blocks {
    grid-area: l;
    display: flex;
}

.info-blocks div {
    width: 33%;
}


/*
.block1 {
    grid-area: l;
}

.block2 {
    grid-area: h;
}

.block3 {
    grid-area: k;
} */
