body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

a {
    text-decoration: none;
    color: #0054b9;
    transform: color .15s ease-out;
}

a:hover {
    color: #c00;
}

input:focus,
button:focus {
    outline: 0;
}


/* 256px
2 3 3 1 2 = 11
116
for 1280
width
232px 470px 230px 116px 232px = 1280
heigth
80px 210px 110px 110px 500px
*/

.wrapper {
    width: 1280px;
    margin: auto auto;
    display: grid;
    /* grid-template-columns: 2fr 3fr 3fr 2fr 1fr 2fr; */
    grid-template-columns: 210px 570px 200px 120px 180px;
    grid-template-rows: 80px 230px 110px 110px 550px;
    /* m, s, x, v - empty space */
    /* m, s, x, v - blocks */
    grid-template-areas: "a s s b c" "m d e p x" "f g g g x" "v o o o x" "v l l l x"
}

.wrapper>div {
    background: none;
    border: 1px solid black;
}

.geo {
    grid-area: a;
    line-height: 11px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
}

.geo__button {
    cursor: pointer;
    display: inline-block;
    color: #999;
    transition: color .15s ease-out;
}

.geo__sity {
    color: inherit;
}

.geo__icon {
    position: relative;
    display: inherit;
    background-image: url(/img/geo-icons.svg);
    width: 19px;
    height: 19px;
    top: 5px;
    left: 2px;
}

.geo__button:hover {
    color: red;
}

.geo__button:hover .geo__icon {
    background-position: center 19px;
}

.options {
    grid-area: b;
    padding-top: 18px;
}

.options>input {
    display: none;
}

.options>label {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.options__menu {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    margin: 0 -70px;
    top: 15px;
    padding: 10px 5px 0px 5px;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .4);
    margin-top: 0;
    cursor: auto;
}

.options__menu::after {
    content: '';
    position: relative;
    left: 85px;
    bottom: 199px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f9f9f9;
}

.options__button {
    display: block;
    outline: none;
    cursor: pointer;
}

.options__button:focus .options__menu {
    display: block;
}

.options__menu:hover {
    display: block;
}

.login {
    grid-area: c;
    padding: 3px;
}

.login__container {
    min-width: 140px;
    /* border: 1px solid black; */
    border-radius: 4px;
    padding: 15px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1), 0 2px 6px 0 rgba(0, 0, 0, .1);
}

.login__container span {
    display: inline-block;
}

.login__container__email {
    padding-top: 15px;
}

.login__container__name,
.login__container__email__count {
    font-weight: bold;
    cursor: pointer;
}

.login__container__name::first-letter {
    color: red;
}

.news {
    grid-area: d;
    padding: 5px;
}

.head span {
    margin-right: 10px;
    cursor: pointer;
    transition: color .15s ease-out;
    font-size: 18px;
}

.head span:hover {
    color: #c00;
}

.head__now {
    color: #0054b9;
}

.head__city {
    cursor: pointer;
    color: #6da2e1;
}

.head__date {
    font-size: 11px;
    color: #999;
}

.news__list {
    margin-left: -5px;
}

.news__list ul li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
    transition: color .15s ease-out;
}

.news__list li:hover {
    color: #c00;
}

.news__list ul {
    margin-bottom: 0;
}

.news__list ul li::before {
    left: -10px;
    bottom: 1px;
    content: '•';
    font: 9px Verdana, sans-serif;
    position: relative;
}

.news__stocks__caption {
    font-weight: bold;
    font-size: 12px;
}

.news__stocks__value {
    font-size: 13px;
}

.news__stocks__change {
    font-size: 13px;
    color: #999;
    margin-right: 10px;
}

.news__stocks__more {
    color: #999;
    opacity: .5;
    cursor: pointer;
    position: relative;
    top: 2px;
    transition: color .15s ease-out;
}

.news__stocks__more:hover {
    color: #c00;
}

.ad {
    grid-area: e;
}

.ad__container {
    padding: 5px;
}

.add__image {
    float: left;
    margin: 0 5px 16px 0;
}

.add__age span {
    color: #0d44a0;
    font-size: 10px;
}

.add__info {
    clear: both;
}

.add__info__caption {
    color: #0054b9;
    cursor: pointer;
    transition: color .15s ease-out;
    font-size: 18px;
    margin-bottom: 17px;
    display: inline-block;
}

.logo {
    grid-area: f;
}

.logo__image img {
    float: right;
}

.search {
    grid-area: g;
    padding: 5px 7px;
}

.search__container {
    margin: -7px 0;
}

.search__menu ul {
    padding: 0px;
}

.search__menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-right: 10px;
    font-size: 15px;
}

.search__input {
    margin: 15px 0 8px;
}

.search__input input {
    width: 83%;
    height: 35px;
    border: 2px solid #ffdb4d;
    font-size: 16px;
    line-height: 36px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-right: -5px;
}

.search__input__mic,
.search__input__key {
    position: absolute;
    display: inline-block;
    background-image: url(img/mic.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 34px;
    margin: 0px -70px;
    cursor: pointer;
    opacity: .2;
}

.search__input__key {
    background-image: url(img/key.svg);
    width: 28px;
    margin: 0px -40px;
    opacity: .7;
}

.search__input__mic:hover {
    opacity: .5;
}

.search__input__key:hover {
    opacity: 1;
}

.search__input button {
    width: 13%;
    height: 35px;
    background-color: #ffdb4d;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.search__help a {
    color: #999;
}


/* не работает вывше определённый :hover (( */

.search__help a:hover {
    color: #c00;
}

.ad-middle {
    grid-area: o;
}

.info-blocks {
    grid-area: l;
    display: flex;
}

.info-blocks div {
    padding: 5px;
    flex-grow: 1;
    width: 285px;
}

.info-blocks__visited li {
    margin-bottom: 10px;
}

.info-blocks__visited li span {
    font-weight: bold;
}

.info-blocks__caption {
    color: #0054b9;
    font-size: 18px;
}

.info-blocks__tv__logo {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 17px;
    color: #fff;
    margin-left: 10px;
    vertical-align: middle;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    transform: scale(.88);
    transition: transform .15s ease-out;
    background-image: linear-gradient(to right,#00a3fa,#716ef8);
}

.info-blocks__tv__logo i {
    font-style: normal;
    font-size: 30px;
    position: absolute;
    margin: -16px 7px;
    
}

.info-blocks__tv__logo:hover {
    cursor: pointer;
    transform: scale(1);

}

.info-blocks__tv li {
    margin-bottom: 10px;
}

.info-blocks__tv li span {
    margin-right: 5px;
}

.info-blocks__tv li span:last-of-type {
    color: #999;
}

div.info-block__auto__news {
    overflow-x: scroll;
    height: 270px;
    width: 250px;
    margin-top: 10px;
}

.info-block__auto .top,
.info-block__auto .bot {
    content: ' ';
    position: absolute;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 30px;
    filter: blur(2px);
    margin: 20px -210px;
}
 
.info-block__auto .bot {
    background-color: rgba(255, 255, 255, 0.7);
    margin: -30px 0px;
    height: 20px;
}


.info-block__auto__news::-webkit-scrollbar {
    width: 0;
}

.info-block__auto__news li {
    margin-bottom: 10px;
}


/*
.block1 {
    grid-area: l;
}

.block2 {
    grid-area: h;
}

.block3 {
    grid-area: k;
} */
